.socialList {
  max-width: 140px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px;
  background-color: #fff;
  border: 1px solid #bfbebe;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}
.socialLink svg {
  width: 20px;
  height: 20px;
  fill: var(--black);
}
@media (min-width: 768px) {
  .socialList {
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .socialList {
    gap: 16px;
  }
}
