.formGroup {
  width: 100%;
}

.label {
  color: var(--black);
  font-size: 16px;
  display: block;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -0.32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 343px;
}

.textarea {
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--gray);
  outline: none;
  color: var(--black);
  padding: 0 0 16px; 
  min-height: 36px; 
  overflow: hidden;
  transition: height 0.2s ease;
  position: relative;
}
@media (min-width: 768px) {
  .inputWrapper {
    max-width: 649px;
  }
  .label {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  
}

.errorInput {
  border-bottom: 1px solid var(--red) !important;
}

/* Стилі для placeholder */
.textarea::placeholder {
  color: var(--gray);
}

.charCount {
  position: absolute;
  right: 0;
  font-size: 14px;
}

/* Сірий колір для порожнього значення лічильника */
.emptyCount {
  color: var(--gray);
  font-weight: 400;
}

/* Чорний колір для поточного значення лічильника, коли є текст */
.currentCount {
  color: var(--black);
  font-weight: 500;
}

/* Сірий колір для максимального значення */
.maxCount {
  color: var(--gray);
  font-weight: 400;
}

.errorMessage {
  color: #e74a3b;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
}