.title-container {
  width: 174px;
  height: auto;
}

.title {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--black);
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .title-container {
    width: 248px;
  }

  .title {
    font-size: 40px;
    line-height: 44px;
  }
}
