.categoriesWrapper {
  padding: 64px 16px;
}
@media screen and (min-width: 768px) {
  .categoriesWrapper {
    /* padding: 100px 32px; */
  }
  .title {
    padding-left: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .categoriesWrapper {
    /* padding: 120px 80px; */
  }
}

.backButton {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: var(--dark-gray);
}
