.wrapper {
  display: flex;
  flex-direction: column;
}

.userCardWrapper {
  width: 100%;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

button {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
