.popular {
  margin-top: 64px;
  margin-bottom: 64px;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
/* .container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
} */
