.hero {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
  background: #000;
  border-radius: 30px;
  overflow: hidden;
  background-color: #000;
}

@media (min-width: 768px) {
  .button {
    width: 159px;
    height: 56px;
    top: 485px;
    left: 288px;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .button {
    top: 462px;
    left: 620px;
  }
}

.button:hover {
  background: #ffffff;
  color: #000000;
}

.imagesWrapper {
  position: relative;
  height: 100%;
}

.image1 {
  position: absolute;
  top: 621px;
  left: 599px;
  width: 302px;
  height: 273px;
  border-radius: 30px;

  object-fit: cover;
  z-index: 1;
}

.image2 {
  position: absolute;
  top: 697px;
  left: 471px;
  width: 128px;
  height: 116px;
  border-radius: 15px;

  object-fit: cover;
  z-index: 2;
}
