.recipeInfo {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
  .imageBlock img {
    width: 100%;
    max-width: 551px;
    height: 400px;
    border-radius: 16px;
    object-fit: cover;
  }
  
  .detailsBlock {
    display: flex;
    flex-direction: column;

    padding: 0;
  }
  
  @media (min-width: 1024px) {
    .recipeInfo {
      flex-direction: row;
      align-items: flex-start;

    }
  
    .imageBlock {
      flex: 0 0 551px;
    }
  
    .detailsBlock {
      flex: 1;
    }
  }
  