.wrapper {
  max-width: 375px;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 704px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1280px;
    width: 100%;
  }
  .imageNotFound {
    width: 50%;
    padding-left: 80px;
  }
}
