.modal {
  position: relative;

  width: 100%;
  max-width: 375px;
  min-width: 320px;

  display: inline-flex;
  padding: 60px 30px;
  justify-content: center;
  align-items: center;
  gap: 40px;

  border-radius: 20px;
  background: #fff;
}

.closeIcon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--black);
}
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  align-items: flex-start;
  padding: 80px 0 0 0;

  z-index: 1001;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentWrapper {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .overlay {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 100px 80px 0 0;
  }
  .modal {
    display: inline-flex;
    padding: 80px 80px 80px 80px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 560px;

    border-radius: 30px;
    background: #fff;
  }
}
