.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-bottom: 80px;
  }
  
  .message {
    text-align: center;
    font-size: 18px;
    color: var(--gray);
    padding: 40px 0;
  }
  