.button {
  color: var(--white);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;

  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 30px;
  border: 1px solid var(--light-gray);
  background: var(--dark-gray);
}
