.dark {
  padding: 14px 28px;
  background: #1a1a1a;
  color: #fff;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
}

.dark:hover {
  background: #050505;
}

.white {
  padding: 16px 32px;
  background: transparent;
  color: #050505;
  border: 1px solid #1a1a1a;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.white:hover {
  background: #050505;
  color: #fff;
}

.inactive {
  padding: 14px 171px;
  background: #bfbebe;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  cursor: not-allowed;
  opacity: 0.8;
}

.doubledContainer {
  display: inline-flex;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
}

.doubledWhite {
  background: #fff;
  color: #050505;
  font-size: 12px;
  padding: 14px 28px;
  letter-spacing: -0.24px;
  line-height: 18px;
}

.doubledDark {
  background: #1a1a1a;
  color: #fff;
  font-size: 12px;
  padding: 14px 28px;
  letter-spacing: -0.24px;
  line-height: 18px;
  border-left: 1px solid #e8e8e8;
}

.doubledActive {
  background: #050505 !important;
  color: #fff !important;
}
