.label {
  color: var(--black);
  font-size: 16px;
  display: block;
  font-weight: 800;
  letter-spacing: -0.36px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.selectWrapper {
  position: relative;

}

.select {
  width: 100%;
  width: 343px;
  padding: 14px;
  border: 1px solid var(--gray);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  color: var(--gray);
  appearance: none;
  display: flex;
  justify-content: space-between;
}

.selectGroup {
  position: relative;
}

.selected {
  color: var(--black);
}

.arrow {
  display: flex;
  width: 18px;
  height: 18px;
  stroke: var(--black);
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrowOpen {
  transform: rotate(180deg);
}

.dropdownWrapper {
  position: relative;
}

.dropdown {
  max-height: calc(2rem * 10);
  overflow-y: auto;
  position: absolute;
  top: 48px;
  left: 0;
  background: var(--white);
  border: 1px solid var(--gray);
  list-style: none;
  padding: 16px 18px;
  border-radius: 15px;
  z-index: 10;
  width: 345px;
}

.dropdownItem {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  cursor: pointer;
  padding: 4px 0;
}
