.ingredients {

  margin-bottom: 32px;
}
.wrap{
  padding: 0;
}
.title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--black);
  line-height: 1.33333;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  min-width: 152px;
  height: 75px;
  gap: 10px; 

}

.imageWrapper {
  width: 75px;
  height: 75px;
  border: 1px solid var(--gray);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.imageWrapper img {
  width: 55px;
  height: 55px;
padding: 10px;
  object-fit: contain;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 14px; 
  font-weight: 500;
  color: var(--black);
  line-height: 1.42857; 
letter-spacing: -0.28px;
}

.amount {
  font-size: 14px; 
  font-weight: 500;
  line-height: 1.42857; 
letter-spacing: -0.28px;
  color: var(--gray);
}


@media (max-width: 768px) {
  .item {
    width: 100%;
    justify-content: flex-start;
  }
}
