.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  color: #050505;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.text {
  color: #bfbebe;
  text-align: center;
  padding-top: 16px;

  /* Mobile/Main text */
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}

.cancelButton {
  display: flex;
  padding: 14px 113px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 30px;
  border: 1px solid #bfbebe;

  color: #050505;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.logoutButton {
  display: flex;
  padding: 15px 110px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 30px;
  background: #050505;
  border: 1px solid #050505;

  color: #fff;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.logoutButton:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 400px;
  }

  .title {
    font-size: 0; /* ховаємо сам текст */
    position: relative;
  }

  .title::after {
    content: 'Are you logging out?';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #050505;
    text-transform: uppercase;
    width: 400px;
  }

  .text {
    font-size: 18px;
    max-width: 400px;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cancelButton {
    display: flex;
    padding: 16px 165px;
    align-items: flex-start;
    gap: 10px;
  }
  .logoutButton {
    display: flex;
    padding: 18px 164px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #050505;
  }
}
